#formCard{
    /* menempatkan card ditengah secara horizontal */
    margin: 0 auto;

    /* menempatkan card di tengah secara vertical */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* tambahkan lebar dan padding untuk card */
    width: 50%;
    padding: 20px;

    /* opsional: tambahkan shadow untuk efek depth */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}